<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% if request.user.is_authenticated %}
        {{request.user}}<br/>
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}

    <hr>
    <a href="{% url 'task-create' %}">Add Task</a>

    
    {% if task_list %}
        <table>
            <tr>
                <th>Task</th>
            </tr>
            {%for task in task_list%}
            <tr>
                <td>{{task.title}}</td>
                <td><a href="{% url 'task-detail' task.id %}">View</a></td>
                <td><a href="{% url 'task-update' task.id %}">Edit</a></td>
                <td><a href="{% url 'task-delete' task.id %}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h3>No task available , <br/> Please create New Tasks by Clicking on the 'Add Task button'</h3>
    {% endif %}
        
</body>
</html>